Repository ulissestb/teste-mamba: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

:kissing::point_up: Silence format script. Format svelte files only with eslint
  package.json
Due: none

:raised_hands: Remove annoying space-before-func-paren eslint rule
  .eslintrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

:heavy_plus_sign: Copy manifest.xml to app bundle
  tools/webpack/config.build.js
Due: prettier --write, eslint --fix

Add eslint autofix on save for html/svelte files
  .vscode/settings.json
Due: none

:x: -> :warning: Replace indent errors with warnings
  .eslintrc.js
  src/components/App/index.html
Due: prettier --write, eslint --fix

:pencil2: Add basic scss support.
  package.json
  src/components/App/index.svelte
  src/components/App/style.scss
  tools/webpack/loaders.js
Due: prettier --write, eslint --fix, stylelint --fix

Add support for external svelte script and style with src="" attribute
  src/components/App/index.svelte
  src/components/App/style.scss
  tools/webpack/loaders.js
Due: prettier --write, eslint --fix, stylelint --fix

Rename fromWorkspace to fromProject to match pos-mamba-web nomenclature
  tools/helpers/utils.js
  tools/webpack/config.base.js
  tools/webpack/config.build.js
  tools/webpack/loaders.js
Due: prettier --write, eslint --fix

Add IS_WATCHING const
  tools/consts.js
  tools/webpack/loaders.js
Due: prettier --write, eslint --fix

Add @mamba svelte component parsing
  src/routes/Home/index.html
  tools/webpack/config.analyzer.js
  tools/webpack/config.base.js
  tools/webpack/config.build.js
  tools/webpack/config.dev.js
Due: prettier --write, eslint --fix

Rename utils.js to paths.js
  package.json
  tools/helpers/paths.js
  tools/webpack/config.base.js
  tools/webpack/config.build.js
  tools/webpack/config.dev.js
  tools/webpack/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

Refactor webpack config folder
  tools/utils/htmlTemplate.js
  tools/utils/paths.js
  tools/webpack/config.base.js
  tools/webpack/config.build.js
  tools/webpack/config.dev.js
  tools/webpack/helpers/RuntimeBindPolyfillPlugin.js
  tools/webpack/helpers/loaders.js
Due: prettier --write, eslint --fix

Rename .html to .svelte
  src/routes/About/index.svelte
  src/routes/Home/index.svelte
Due: none

Remove libSass @import deprecation warning
  package.json
  src/external.scss
  tools/webpack/config.base.js
  tools/webpack/helpers/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Remove jsx from lint and format
  package.json
Due: none

Remove mocha definition from eslint
  .eslintrc.js
Due: prettier --write, eslint --fix

Make node_modules path relative in webpack.resolve.modules
  tools/webpack/config.base.js
Due: prettier --write, eslint --fix

Remove unused fromModulesRoot
  tools/utils/paths.js
  tools/webpack/config.base.js
  tools/webpack/helpers/RuntimeBindPolyfillPlugin.js
  tools/webpack/helpers/loaders.js
Due: prettier --write, eslint --fix

Add progressbar plugin to webpack
  package.json
  tools/webpack/config.base.js
Due: prettier --write, eslint --fix

Execute resolve-url-loader before postcss-loader (fixes invalid sourcemap on windows)
  tools/webpack/config.base.js
Due: prettier --write, eslint --fix

Add windows path separator support to webpack regex tests
  tools/webpack/config.base.js
  yarn.lock
Due: prettier --write, eslint --fix

Add a separated rule for transpiling svelte/shared without eslint
  tools/webpack/config.base.js
Due: prettier --write, eslint --fix

Make webpack js/svelte related rules clearer
  tools/webpack/config.base.js
Due: prettier --write, eslint --fix

Add svelte language to workspace settings.
  .vscode/settings.json
Due: none

Make stylelint lint svelte components
  .editorconfig
  .stylelintrc
  .stylelintrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Replace manual svelte preprocess with svelte-preprocess pkg
  package.json
  tools/webpack/helpers/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

Prevent autoprefixers removal
  package.json
  tools/webpack/config.build.js
  yarn.lock
Due: prettier --write, eslint --fix

Fix @imported css files not being autoprefixed
  tools/webpack/helpers/loaders.js
Due: prettier --write, eslint --fix

Update dependencies
  package.json
  yarn.lock
Due: none

Add @mamba/pos wrapper for development builds
  README.md
  src/components/App/index.svelte
  src/index.js
  src/routes/Home/index.svelte
Due: prettier --write, eslint --fix

Make webpack strip out @mamba/pos when building for production
  src/components/App/index.svelte
  src/index.js
Due: prettier --write, eslint --fix

Use ES6 dynamic import to import @mamba/pos
  .eslintrc.js
  package.json
  src/index.js
  tools/webpack/config.base.js
  yarn.lock
Due: prettier --write, eslint --fix

Posixify paths for windows support
  tools/utils/paths.js
  tools/utils/posixify.js
Due: prettier --write, eslint --fix

Posixify paths for windows support
  tools/utils/posixify.js
Due: prettier --write, eslint --fix

Move svelte config to svelte.config.js (svelte-vscode uses it)
  svelte.config.js
Due: prettier --write, eslint --fix

Rename svelte property to svelte:component
  tools/webpack/config.base.js
Due: prettier --write, eslint --fix

Add basic readme
  README.md
Due: none

Move webpack one folder up to simplify folder structure
  .babelrc.js
  .eslintrc.js
  package.json
  tools/consts.js
  tools/utils/paths.js
  tools/utils/posixify.js
  tools/webpack/config.build.js
  webpack/config.analyzer.js
  webpack/config.base.js
  webpack/config.build.js
  webpack/config.dev.js
  webpack/helpers/RuntimeBindPolyfillPlugin.js
  webpack/helpers/htmlTemplate.js
  webpack/helpers/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

Add svelte dev and legacy mode
  svelte.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{scss,css})
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.{scss,css}
