Repository ulissestb/teste-mamba: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{scss,css}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ]
}

Add store pages
  src/routes/Home.svelte
  src/routes/Store/Receipts.svelte
Due: none

Add factory reset
  src/routes/Energy/Screenlock.svelte
  src/routes/Store/Receipts.svelte
  src/routes/Store/Restore.svelte
Due: none

Prevent linked @mamba packages from duplicating dependencies
  webpack/config.base.js
Due: prettier --write, eslint --fix

SO for 2.1.0
  .mamba/libConfigApp.so
Due: none

Basic features done
  src/routes/Energy/Screenlock.svelte
  src/routes/Network/Configure.svelte
  src/routes/Network/Wifi.svelte
  src/routes/Password/Change.svelte
  src/routes/Password/ConfirmForgot.svelte
  src/routes/Store/Receipts.svelte
  src/routes/Store/Restore.svelte
Due: none

Force update svelte-loader
  package.json
Due: none

Make prettier ignore package.json only
  .prettierignore
Due: none

Add <link> onload fix
  webpack/helpers/MambaFixesPlugin.js
Due: prettier --write, eslint --fix

Add <Title> component to modify appbar title
  src/routes/Energy/Brightness.svelte
  src/routes/Energy/Configure.svelte
  src/routes/Energy/Screenlock.svelte
  src/routes/Home.svelte
  src/routes/Network/Configure.svelte
  src/routes/Network/Wifi.svelte
  src/routes/Network/Wifis.svelte
  src/routes/Password/Change.svelte
  src/routes/Password/ConfirmForgot.svelte
  src/routes/Password/Forgot.svelte
  src/routes/Store/Receipts.svelte
  src/routes/Store/Restore.svelte
Due: none

Fix dynamic import not working on POS
  src/index.js
  webpack/config.base.js
  webpack/helpers/RuntimeBindPolyfillPlugin.js
Due: prettier --write, eslint --fix

Add vscode debugging feature
  .vscode/launch.json
  .vscode/settings.json
  yarn.lock
Due: none

Don't open browser automatically on dev mode
  webpack/config.dev.js
Due: prettier --write, eslint --fix

Remove external.scss file. Replace core-styles with @mamba/styles
  README.md
  package.json
  src/external.scss
  webpack/config.base.js
Due: prettier --write, eslint --fix, stylelint --fix

Add host 0.0.0.0 to access dev server externally
  webpack/config.dev.js
Due: prettier --write, eslint --fix

Make svelte use postcss
  package.json
  postcss.config.js
  svelte.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Update dependencies and remove scss
  .stylelintrc.js
  package.json
  webpack/config.base.js
  webpack/helpers/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

Refactor wifis list to not use promisedSet
  src/routes/Network/Wifi.svelte
  src/routes/Network/Wifis.svelte
Due: none

Rename brightness POS Mock event
  src/routes/Energy/Brightness.svelte
Due: none

Replace sccs with pcss
  src/routes/Energy/Brightness.svelte
  webpack/config.base.js
Due: prettier --write, eslint --fix

Rename Title to AppBarTitle.
  src/routes/Energy/Brightness.svelte
  src/routes/Energy/Configure.svelte
  src/routes/Energy/Screenlock.svelte
  src/routes/Home.svelte
  src/routes/Network/Configure.svelte
  src/routes/Network/Wifi.svelte
  src/routes/Network/Wifis.svelte
  src/routes/Password/Change.svelte
  src/routes/Password/Forgot.svelte
  src/routes/Store/Receipts.svelte
  src/routes/Store/Restore.svelte
Due: none

Add stylelint to postcss build step
  .eslintrc.js
  .stylelintrc.js
  package.json
  postcss.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Remove lint:css... for now
  package.json
Due: none

Allow breakpoint in svelte templates
  .vscode/settings.json
Due: none

Normalize postcss support for vscode. Add recommended extensions
  .eslintrc.js
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write, eslint --fix

Update stylelint and add lint:css task. Stylelint webpack plugin on hold
  .stylelintignore
  .vscode/settings.json
  package.json
  postcss.config.js
  webpack/config.base.js
  yarn.lock
Due: prettier --write, eslint --fix

Add new stylelint rules for normalizing components css
  .stylelintrc.js
Due: prettier --write, eslint --fix

Add eslint-plugin-import. Update and comment eslint rule
  .eslintrc.js
  .gitignore
  package.json
  src/routes/Home.svelte
  yarn.lock
Due: prettier --write, eslint --fix

Fix local import path
  src/App.svelte
Due: none

Remove svelte-vscode from recommended extensions
  .vscode/extensions.json
Due: none

Rename .svelte back to .html
  src/App.html
  src/index.js
  src/routes/Home.html
Due: prettier --write, eslint --fix

Add comments to local vscode config and remove svelte-vscode recommendation
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Add @mamba/configs package and dummy saved packages
  .eslintrc.js
  .prettierrc
  .prettierrc.js
  .stylelintrc.js
  package.json
  postcss.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Refactor code to align to new linter specs
  jest.config.js
  src/App.html
  src/index.js
  src/routes/Home.html
  src/store.js
  svelte.config.js
  webpack/config.analyzer.js
  webpack/config.base.js
  webpack/config.build.js
  webpack/config.dev.js
  webpack/helpers/MambaFixesPlugin.js
  webpack/helpers/htmlTemplate.js
  webpack/helpers/loaders.js
Due: prettier --write, eslint --fix

Update dependencies
  package.json
  yarn.lock
Due: none

Switch createElement with createDocumentFragment
  src/index.js
Due: prettier --write, eslint --fix

Use @mamba/configs for svelte as well
  svelte.config.js
Due: prettier --write, eslint --fix

Move babel config to @mamba/configs
  .babelrc.js
  .stylelintrc.js
  package.json
  webpack/helpers/loaders.js
  yarn.lock
Due: prettier --write, eslint --fix

Switch webpack progress plugin
  package.json
  webpack/config.base.js
  yarn.lock
Due: prettier --write, eslint --fix

Simplify splitChunks config
  src/routes/Home.html
  webpack/config.base.js
Due: prettier --write, eslint --fix

Renamed dist/ to bundle/ and automatize the bundle.tar.gz when building for production
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
  webpack/config.base.js
  webpack/config.build.js
  yarn.lock
Due: prettier --write, eslint --fix
