Repository ulissestb/teste-mamba: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.{scss,css}": [
    "prettier --write",
    "stylelint --fix",
    "git add"
  ]
}

Remove uglifyjs comment
  webpack/webpack.config.build.js
Due: prettier --write, eslint --fix

Update to babel 7. Polyfills are automatically defined by necessity.
  .babelrc
  .babelrc.js
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Rename "vendor" and "main" bundles to "lib" and "app". Separate webpack bootstrap code from "app" bundle
  webpack/webpack.config.build.js
  webpack/webpack.config.js
Due: prettier --write, eslint --fix

Remove unused test directory
  __mocks__/fileMock.js
  __mocks__/moduleStub.js
  jest.config.js
  test/setup.js
Due: prettier --write, eslint --fix

Small bundle:analyze refactor
  package.json
  webpack/webpack.config.analyzer.js
  webpack/webpack.config.build.js
  yarn.lock
Due: prettier --write, eslint --fix

Make prettier output bracket in another line
  .prettierrc
Due: none

Add classnames pkg
  package.json
  yarn.lock
Due: none

Update to webpack v4. Replace html-webpack-plugin with mini-html-webpack-plugin
  package.json
  src/components/App/index.js
  src/components/App/style.scss
  src/components/Header/__tests__/base.test.js
  src/components/Header/index.js
  src/components/Home/index.js
  src/components/Home/style.scss
  src/components/NavigationPage/index.js
  src/index.ejs
  webpack/webpack.config.build.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Re-use constants in webpack config
  webpack/helpers/consts.js
  webpack/helpers/htmlTemplate.js
  webpack/webpack.config.analyzer.js
  webpack/webpack.config.build.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.js
Due: prettier --write, eslint --fix

Add component style import example in external.scss
  src/components/App/index.js
  src/components/Home/index.js
  src/components/Home/style.scss
  src/external.scss
Due: prettier --write, eslint --fix, stylelint --fix

Remove typescript support
  sassModuleDefinition.d.ts
  tsconfig.json
  tslint.json
  webpack/webpack.config.analyzer.js
  webpack/webpack.config.js
Due: prettier --write, eslint --fix

Use custom webpack plugin to prepend Function.prototype.bind polyfill to webpack runtime code.
  src/external.scss
  webpack/helpers/RuntimeBindPolyfillPlugin.js
  webpack/helpers/consts.js
  webpack/helpers/htmlTemplate.js
  webpack/webpack.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Fix husky conf file
  .huskyrc
  package.json
  yarn.lock
Due: none

Quick exit bind-polyfill-plugin
  webpack/helpers/RuntimeBindPolyfillPlugin.js
Due: prettier --write, eslint --fix

Add preact-router
  .babelrc.js
  package.json
  src/assets/logo.svg
  src/components/App/index.js
  src/components/Header/index.js
  src/components/Home/index.js
  src/components/NavigationPage/index.js
  webpack/webpack.config.build.js
  webpack/webpack.config.dev.js
  webpack/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Add manifest.xml
  manifest.xml
Due: none

Remove .map files from production build
  webpack/webpack.config.build.js
Due: prettier --write, eslint --fix

Fix package url() resolve
  package.json
  src/external.scss
  webpack/webpack.config.dev.js
  webpack/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

Prevent cssnano from removing prefixes in bundle
  webpack/webpack.config.build.js
Due: prettier --write, eslint --fix

Add a #root element for the app
  src/index.js
  webpack/helpers/htmlTemplate.js
Due: prettier --write, eslint --fix

Add jsx babel-plugins for development
  .babelrc.js
  package.json
  tools/helpers/RuntimeBindPolyfillPlugin.js
  tools/helpers/consts.js
  tools/helpers/htmlTemplate.js
  tools/webpack/webpack.config.analyzer.js
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.dev.js
  tools/webpack/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Replace preact-compat with preact for production builds
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.dev.js
Due: prettier --write, eslint --fix

Move preact/debug to development environments, not only when hot reloading
  src/index.js
Due: prettier --write, eslint --fix

Ensure load of projects dependencies with linked packages while developing
  tools/webpack/webpack.config.js
Due: prettier --write, eslint --fix

Use only "preact-compat" in development. "preact" is used on production only
  .babelrc.js
  .eslintrc.js
  src/components/App/index.js
  src/components/Header/index.js
  src/components/Home/index.js
  src/index.js
  tools/helpers/RuntimeBindPolyfillPlugin.js
  tools/helpers/consts.js
  tools/helpers/htmlTemplate.js
  tools/helpers/utils.js
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.dev.js
  tools/webpack/webpack.config.js
Due: prettier --write, eslint --fix

Add custom EnforcePreactCompat babel plugin
  .babelrc.js
  tools/helpers/EnforcePreactCompatPlugin.js
Due: prettier --write, eslint --fix

Make every external dependency go to lib.js (except @mamba libs)
  tools/webpack/webpack.config.js
Due: prettier --write, eslint --fix

Refactor utils.js and split it into consts.js
  .babelrc.js
  .eslintrc.js
  src/components/Header/__tests__/base.test.js
  src/components/Home/__tests__/base.test.js
  tools/helpers/consts.js
  tools/helpers/utils.js
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.js
Due: prettier --write, eslint --fix

Prevent uglify from inlining preact's VNode constructor
  package.json
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Add tabs example
  src/components/Home/index.js
  src/external.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add pragma_module constant
  .babelrc.js
  tools/helpers/consts.js
  tools/webpack/webpack.config.build.js
Due: prettier --write, eslint --fix

Drop unused source-map-loader
  package.json
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.dev.js
  tools/webpack/webpack.config.js
  yarn.lock
Due: prettier --write, eslint --fix

Add config.js for controlling some build workflow configs.
  .babelrc.js
  .eslintrc.js
  tools/config.js
  tools/consts.js
  tools/webpack/webpack.config.build.js
  tools/webpack/webpack.config.js
Due: prettier --write, eslint --fix

Only polyfill in production mode
  .babelrc.js
Due: prettier --write, eslint --fix

Restructure src directory based on preact-cli default template
  src/components/App/index.js
  src/components/Header/__tests__/base.test.js
  src/components/Header/index.js
  src/index.js
  src/routes/Example/__tests__/base.test.js
  src/routes/Example/index.js
  src/routes/Example/style.scss
  src/routes/Home/__tests__/base.test.js
  src/routes/Home/index.js
  src/routes/Home/style.scss
  tools/webpack/webpack.config.js
Due: prettier --write, eslint --fix, stylelint --fix

Add better comment explaining reduce_funcs
  tools/webpack/webpack.config.build.js
Due: prettier --write, eslint --fix

Add initial svelte support
  .babelrc.js
  .editorconfig
  .eslintrc.js
  README.md
  jest.config.js
  package.json
  src/components/App/index.html
  src/components/App/index.js
  src/components/Header/__tests__/base.test.js
  src/components/Header/index.js
  src/components/Header/style.scss
  src/external.scss
  src/index.js
  src/routes/About/index.html
  src/routes/Example/__tests__/base.test.js
  src/routes/Example/index.js
  src/routes/Example/style.scss
  src/routes/Home/__tests__/base.test.js
  src/routes/Home/index.html
  src/routes/Home/index.js
  src/routes/Home/style.scss
  tools/config.js
  tools/consts.js
  tools/helpers/EnforcePreactCompatPlugin.js
  tools/helpers/utils.js
  tools/webpack/config.analyzer.js
  tools/webpack/config.base.js
  tools/webpack/config.build.js
  tools/webpack/config.dev.js
  tools/webpack/webpack.config.build.js
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix

:file_folder: Add local vscode settings to better support svelte
  .gitignore
  .vscode/settings.json
Due: none

:cop: Enforce project's babelrc to babel-loader
  tools/webpack/config.base.js
  tools/webpack/config.dev.js
Due: prettier --write, eslint --fix

:mag: Make babel parse svelte compiled code
  .babelrc.js
  tools/webpack/config.base.js
  tools/webpack/loaders.js
Due: prettier --write, eslint --fix
